body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
 
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    text-align: center;
}

.hero {
    background: #202326;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    margin: 0 0 20px;
    font-size: 3em;
}

.cta-buttons .btn {
    background: white;
    color: #007bff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 10px;
    
}

.cta-buttons .btn:hover {
    background: #4d5a73;
    transition:all 1.0s ease-out;
}


.features, .screenshots, .testimonials, .ride, .contact {
    padding: 60px 20px;
    text-align: center;
}

.features h2, .testimonials h2, .ride h2, .contact h2 {
    margin-bottom: 40px;
}
.screenshots h2{
    margin-bottom: 59px;

}


.feature-list, .testimonial-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    
}

.feature, .testimonial {
    flex: 1 1 30%;
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.feature{
    transition:all 0.5s ease-out;

}

.feature:hover {
    transform: scale(1.1);
  }
  .testimonial{
    transition:all 1.0s ease-out;
  }
  .testimonial:hover {
    transform: scale(1.1);
  }

 
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
 

  }

.img1{
  margin: auto;
}

  .img1 img{
    max-width: 50%;
    border-radius: 20px;
    
  }
  .gallery img:hover {
    transform: scale(1.1);
  }
 


.ride-plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}


.plan {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:all 1.0s ease-out;

}
.plan:hover {
    transform: scale(1.1);
  }

.car img {
    max-width: 50%;
    border-radius: 10px;
}
/* .car:hover img {
    transform: scale(1.1);
  } */




.contact-form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 34px;
}

.contact-form button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 34px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0056b3;
}

.download-links .btn {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.download-links .btn:hover {
    background: #0056b3;
}
.platform{
    /* margin-bottom: 30px; */
    height: 130px;
    background-color: rgb(34, 35, 35);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
      
  }
  .social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
  }
  .social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
  }
  
  .social-links a:hover{
    background: #fff;
    color: var(--exDark);
  }
  .platform span{
    /* margin-top: 1rem; */
    color: #fff;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
  }
@media (max-width: 767px) {
    .hero {
        background: #6f8faf;
    }
    .hero h1{
        color: #202326;
    }
    .ride-plans {
        grid-template-columns: 1fr 1fr;
    }

    .feature, .testimonial {
        flex: 1 1 45%;
        margin: 10px;
    }

   
    .cta-buttons .btn {
        background: white;
        color: #007bff;
        padding: 10px 10px;
        margin: 0 10px;
        text-decoration: none;
        border-radius: 34px;
    }
    .feature{
        transition:all 0.5s ease-out;
    
    }
    
    .feature:hover {
        transform: scale(1.1);
      }
    
      .plan {
        
        transition:all 0.5s ease-out;
    
    }
    .plan:hover {
        transform: scale(1.1);
      }
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
     
    
      }
    
    .img1{
      margin: auto;
    }
    
      .img1 img{
        max-width: 90%;
        border-radius: 20px;
        
      }
      .gallery img{
        transition:all 1.0s ease-out;
      }
      .gallery img:hover {
        transform: scale(1.2);
      }
    .platform{
        height: 160px;
        background-color: rgb(34, 35, 35);
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem 0;
          
      }
      .platform span{
        color: #fff;
        font-size: small;
        display: block;
        font-family: var(--Playfair);
        letter-spacing: 1px;
      }
      .testimonial{
        transition:all 1.0s ease-out;
      }
      .testimonial:hover {
        transform: scale(1.1);
      }
}    
      
    

@media (max-width: 480px) {
    .ride-plans {
        grid-template-columns: 1fr 1fr;
    }

    .feature, .testimonial {
        flex: 1 1 100%;
        margin: 10px 0;
    }

}


